/* utility */
textarea {
  margin-bottom: 1rem;
}
/* utility end */

/* navbar */
.navbar .navbar-brand {
  max-width: 180px;
}

.navbar .navbar-brand img {
  width: 100%;
}

.navbar .navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar .nav-item .nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #282828;
  border-bottom: 3px solid transparent;
}

.navbar .nav-item .login-btn-link {
  font-weight: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #000;
  border-color: #9e6d2d;
}

.navbar-nav .nav-link:hover {
  border-color: #9e6d2d;
}

.navbar .link-btn {
  text-decoration: none;
  border-radius: 25px;
  background-color: #9e6d2d;
  border: none;
  color: #ffffff;
  font-size: .7rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

.navbar .link-btn:hover {
  background-color: #61431c;
}
/* navbar end */

/* footer */
footer {
  padding: 2rem 0;
  background: #11191f;
  display: flex;
  align-items: center;
}

footer p {
  margin-bottom: 0;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
}
/* footer end */

/* info heading */
.info-heading p {
  font-weight: 500;
}

/*  form */
.step-form {
  margin: 2rem auto;
  padding: 1.25rem;
}

.step {
  display: none;
}

.step-form label {
  font-weight: 500;
  color: #000;
  font-size: 1.05rem;
}

.step p.lead {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
}

/* index page */
.single-checklist-link {
  overflow: hidden;
}

.single-checklist-link .card-img-top {
  height: 14rem;
  overflow: hidden;
}

.single-checklist-link .card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  transition: all 0.35s;
}

.single-checklist-link:hover .card-img-top img {
  transform: scale(1.05);
}
/* index page end */

/* login page and */
.login-page,
.otp-page {
  background: #ebebeb;
}

.login-page .card,
.otp-page .card {
  border-radius: 10px;
  border: unset;
}

.login-page label,
.otp-page label {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
}

.otp-page .otp-field {
  flex-direction: row;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-page .otp-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.otp-page .otp-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.otp-page .otp-field input::-webkit-inner-spin-button,
.otp-page .otp-field input::-webkit-outer-spin-button {
  display: none;
}
